.createRecipeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .createRecipeForm {
    max-width: 600px;
    margin: 30px auto;
  }
}

@media screen and (min-width: 1200px) {
  .createRecipeForm {
    max-width: 800px;
    margin: 30px auto;
  }
}

.formInput {
  padding: 20px;
}

.formInput label {
  font-size: large;
  font-weight: bold;
}

.formInput input {
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  list-style: circle;
}

.stepItem {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.stepItem input {
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  list-style: circle;
}

.addStepButton {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: 1px solid grey;
  background-color: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.addStepButton:hover {
  background-color: rgb(206, 206, 206);
}

.removeStepButton {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(228, 35, 35);
  background-color: rgb(236, 71, 71);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.removeStepButton:hover {
  background-color: rgb(228, 35, 35);
}

.dietItem {
  margin-left: 140px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.dietCheckbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.30em;
  height: 1.30em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.dietCheckbox:hover {
  background-color: rgb(232, 232, 232);
}

.dietCheckbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.dietCheckbox:checked::before {
  transform: scale(1);
  background-color: #00843c;
}

.dietItem input[type="checkbox"]:checked + .dietLabel {
  font-weight: bold;
}

.error {
  color: red;
  font-size: normal;
  text-align: center;
}

.submitButton {
  background-color: #00843c;
  color: #fff;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #005926;
}

.submitButton.disabled {
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
  pointer-events: none;
  cursor: default;
}