.dietFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
}

.dietFilterItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dietCheckbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.30em;
  height: 1.30em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.dietCheckbox:hover {
  background-color: lightgray;
}

.dietCheckbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.dietCheckbox:checked::before {
  transform: scale(1);
  background-color: #00843c;
}

.dietFilterItem input[type="checkbox"]:checked + .dietLabel {
  font-weight: bold;
}
