.searchBar input {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 20px;
  padding: 15px;
  width: 350px;
  margin: 0px 5px 0px 5px;
  color: #00843c;
  font-size: medium;
}

.searchBar button {
  padding: 0.9rem;
  margin: 0px 5px 0px 5px;
  border-radius: 1.5rem;
  border: 1px solid #cccccc;
  background-color: white;
  color: #00843c;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBar button:hover {
  background-color: #dadada;
}