.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topSection {
  display: flex;
  flex-direction: row;
  height: 20%;
}

.topLeft {
  width: 50%;
}

.topRight {
  width: 50%;
}

.mainSection {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.leftSidebar {
  width: 20%;
}

.rightContent {
  width: 80%;
}
